# 💫 Rename this file to .env and fill in your keys

# Git Identity
GIT_NAME=your-name-here
GIT_EMAIL=your-email@example.com

# Hugging Face / WandB
HUGGINGFACE_TOKEN=your-hf-token-here
WANDB_API_KEY=your-wandb-key-here
